<!DOCTYPE html>
<html lang="{{ site.lang | default: "pt-BR" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <h2 id="bem-vindo--welcome--benvenuto--bienvenu">Bem vindo / Welcome / Benvenuto / Bienvenu</h2>
        {%- if site.posts.size > 0 -%}
        <h3 id="listas-publicadas">Postagens publicadas</h3>
        <ul>
          {%- for post in site.posts -%}
          <li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
          {%- endfor -%}
        {%- endif -%}
        {{ content }}
      </section>
    </div>
  </body>
</html>
